<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="testDEVE.Properties.Settings.TTTNConnectionString"
            connectionString="Data Source=HUNG\SQLEXPRESS;Initial Catalog=TTTN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testDEVE.Properties.Settings.QLBDSConnectionString"
            connectionString="Data Source=hung\sqlexpress;Initial Catalog=QLBDS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testDEVE.Properties.Settings.QLBDSConnectionString1"
            connectionString="Data Source=RYANNGUYEN\RYANNGUYEN;Initial Catalog=QLBDS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testDEVE.Properties.Settings.REManagementConnectionString"
            connectionString="Data Source=PHANLINH\RYANNGUYEN;Initial Catalog=REManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testDEVE.Properties.Settings.QLBDSLVTNConnectionString"
            connectionString="Data Source=hung\sqlexpress;Initial Catalog=QLBDSLVTN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testDEVE.Properties.Settings.REManagementConnectionString1"
            connectionString="Data Source=RYANNGUYEN\RYANNGUYEN;Initial Catalog=REManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>MetropolisDark</value>
            </setting>
        </DXThemeManager>
    </userSettings>
</configuration>